/* All your custom styles for this site go here */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
    --primary-font: 'Raleway', sans-serif;
    --primary-font-color: #07043B;
    --secondary-font: 'Open Sans', sans-serif;
    --footer-font-color: #FFF;
    --hover-color: #3DA08F;
    --border-radis: 3.13px;
}

.row {
    max-width: 1280px;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-font-color)
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    max-width: 627px;
}

p {
    font-family: var(--secondary-font);
}

.logo-img {
    max-width: 166px;
    max-height: 49px;
    flex-shrink: 0;
}

.nav-menu-list {
    gap: 57px;
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
}

nav a:hover {
    color: var(--hover-color);
}

.hero-container {
    min-height: 80vh;
}

.hero-left-side p {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    min-height: 72px;
    max-width: 585px;
}

.form-wrapper {
    max-width: 627px;
    color: #C2C2C2;
}

.hero-image {
    min-height: 474px;
    min-width: 640px;
}

.form-wrapper form label input {
    width: 320px;
    min-height: 45px;
    border: solid #07043B 1px;
    border-radius: var(--border-radis);

}

input::placeholder {
    padding-left: 21px;
    letter-spacing: 0.436px;
}

.form-wrapper form button {
    flex: 0 0 200px;
    /*width: 200px;*/
    height: 45px;
    background-color: #2F65F8;
    color: white;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    border: none;
    border-radius: var(--border-radis);
}

.middle-container {
    min-height: 850px;
}

.middle-left-side h1 {
    min-width: 648px;
}

.middle-left-side h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.testimonial {
    width: 356px;
    height: 215px;
    border: solid black 1px;
}


.sign-up-section {
    background-color: #575988;
    min-height: 369.715px;
}

footer.container {
    background-color:#07043B;
    min-height: 391px;
    padding-top:92px;
    color: var(--footer-font-color);
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    gap:37px;
}

.first-footer-column {
    gap:16px;
}


.footer-img-logo {
    max-width: 135px;
    max-height: 39px ;
}

.phone-wrapper {
    gap: 16px;
}

.mail-wrapper {
    gap:16px;
}

.first-footer-list, .second-footer-list {
    flex-direction: column;
    gap:16px;
}

.social-icons {
    gap:12.49px;
}

.footer-icon {
    width: 32.36px;
    height: 31px;
}


